<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<div class="footer_logo"><a href="#">Evolona</a></div>
<!-- 
					<div class="footer_social">
						<ul>
							
							<li><a href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							
							<li><a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>

						</ul>
					</div>
					<br> -->
<!-- 
					<div class="text-center">
						<a href="mailto:evolonacompanyltd@gmail.com">
							
								<small class="text-md">evolonacompanyltd@gmail.com</small>
							
						</a>
					</div> -->
					<br>
					<div class="text-center">
						<p>
							NABBINGO, NSANGI, BUSIRO, WAKISO DISTRICT. UGANDA.
						</p>
					</div>
					<div class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
<!-- Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> -->
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
				</div>
			</div>
		</div>
	</footer>