	<!-- Header -->

	<header class="header">
			<div class="header_inner d-flex flex-row align-items-center justify-content-start">
				<div class="logo"><a href="/">Evolona <%=page || ""%></a></div>
				<div class="header_content ml-auto">
					<div class="search header_search">
						<form action="#">
							<input type="search" class="search_input" required="required">
							<button type="submit" id="search_button" class="search_button"><img src="images/magnifying-glass.svg" alt=""></button>
						</form>
					</div>

				
					
					<div id="search_div" class="search">
						<form action="#">
							<input type="search" id="search" class="search_input menu_mm" required="required">
							<button type="submit" id="search_button_menu" class="search_button menu_mm"><img class="menu_mm" src="images/magnifying-glass.svg" alt=""></button>
						</form>
						
					</div>
					
				

					<div style="padding-right: 10px; padding-left: 10px; align-self: flex-end;" class="shopping">
						<!-- Cart -->
						<a href="/cart">
							<div class="cart">
								<img src="images/shopping-bag.svg" alt="">
								<div class="cart_num_container">
									<div class="cart_num_inner">
											<%if(cart) {%>
												<div class="cart_num"><%=cart?  cart.total_qty : 0 %></div>
											<%}%>
										
									</div>
								</div>
							</div>
						</a>

						<ul>
							<li style="padding: 3px;">
								<a href="/account" aria-label="Next">
									<i style="color: #937c6f; font-size: 24px;" class="fa fa-user"></i>
								</a>
							</li>

							<%if(auth){%>			
								<li style="padding: 3px;">
									<a href="/logout" aria-label="Next">
										<i style="color: #937c6f; font-size: 24px;" class="fa fa-sign-out"></i>
									</a>
								</li>
							<%} else {%> 
								<li style="padding: 3px;">
									<a href="/login" aria-label="Next">
										<i style="color: #937c6f; font-size: 24px;" class="fa fa-sign-in"></i>
									</a>
								</li>
							<%}%>
							</ul>
					</div>
				</div>
	
				<!-- <div class="burger_container d-flex flex-column align-items-center justify-content-around menu_mm"><div></div><div></div><div></div></div> -->
			</div>
			<ul id="search_result" class="list-group list-group-flush col-6 col-sm-8 offset-6 offset-sm-2">

			</ul>
		</header>
		
		<!-- Menu -->
<!-- 	
		<div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
			<div class="menu_close_container"><div class="menu_close"><div></div><div></div></div></div>
			<div class="logo menu_mm"><a href="/">Evolona</a></div>
			<div class="search">
				<form action="#">
					<input type="search" id="search" class="search_input menu_mm" required="required">
					<button type="submit" id="search_button_menu" class="search_button menu_mm"><img class="menu_mm" src="images/magnifying-glass.svg" alt=""></button>
				</form>
			</div>
			<ul id="search_result" class="list-group list-group-flush col">

			</ul>
		</div> -->

		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
	
		<script>
			var search = document.getElementById('search')
			var search_result = document.getElementById('search_result')
			var btn = document.getElementById('search_button_menu')
			var search_div = document.getElementById('search_div')
			console.log(search_div.style.display);
			

			search_div.style.display = 'none'
			if (window.location.pathname === '/') {
				console.log(window.location.href);
				
				search_div.style.display = ''
			}
			// btn click
			btn.addEventListener('click', function(e) {
				e.preventDefault()
				var word = search.value;

			
				if (word.length > 0) {
					search_result.innerHTML = '<li class="list-group-item list-group-item-action text-center"> <span style="size:20 " class="fa fa-spinner fa-spin"></span></li>'
					fetch(`/product/search?q=${word}`)
					.then((res) => {
						return res.json()	
					})
					.then(data => {
						console.log('ser', data);
						var list = ''
						if(data.result.length === 0 ) {
							search_result.innerHTML = '<p class="list-group-item list-group-item-action">product not found</p>'
						} else {
							data.result.forEach(result => {
							// var li = document.createElement('li')
							// li.className = "list-group-item list-group-item-action";
							// var a = document.createElement('a')
							// li.appendChild(a)
							// a.setAttribute('href', `/product?id:${result.id}`)
							// a.innerHTML = result.name;
							// search_result.appendChild(li)
							list += `<li class="list-group-item list-group-item-action"> <a href="/product?id=${result._id}">${result.name}</a></li>`
						});
						search_result.innerHTML = list
						}

							
					})
					.catch((err) => {
						console.log(err);
						
						search_result.innerHTML = '<p class="list-group-item list-group-item-action text-danger">product not found</p>'
					})
				}
				
			})
		
			// btt press
			search.addEventListener('keyup', function(e){				
				if(search.value.length === 0) {
				 search_result.innerHTML = ''
				}
			})

		
		</script>